#slider_media {
  padding: 10px 0;
  max-width: 1440px;
  width: 100%;
  min-height: 312px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  position: relative;
  background: #fff;
  .container {
    width: 100%;
    height: 236px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    .slider_media {
      height: inherit;
      display: flex;
      gap: 10px;
      width: calc(417px * 4);
      position: relative;
      animation: media 14s linear infinite;

      //   &:active {
      //     animation-play-state: paused;
      //   }
      .slide {
        width: 417px;
        height: inherit;
        background: #262626;
        display: flex;
        align-items: center;
        perspective: 400px;
        .imgXs {
          position: absolute;
          left: 15px;
          width: 196px;
          height: 196px;
        }
        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
          transition: transform 1s;
          &:hover {
            transform: translateZ(5px);
          }
        }
        .txt {
          width: 410px;
          height: inherit;
          background: linear-gradient(
            0deg,
            rgba(29, 29, 31, 0.831) 0%,
            rgba(0, 0, 0, 0.015) 50%
          );
          position: absolute;
          top: 0;
          display: flex;
          z-index: 4;
        }
      }
    }
  }
  .p_p {
    position: relative;
    left: 46%;
    button {
      position: absolute;
      width: 28px;
      height: 28px;
      bottom: -15px;
      border: 0;
      background: #d2d2d7;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@keyframes media {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-417px * 1));
  }
}
